<!DOCTYPE html>
<html lang="en">

<head>
	<title>Gemma</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="wnameth=device-wnameth, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
		integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
		crossorigin="anonymous"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
		integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
		crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" />
	<style>
		input[type=number]::-webkit-outer-spin-button,
		input[type=number]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>
</head>

<body class="container">
	<h1 class="text-center">Profesor</h1>
	<form class="ml-5 mt-4 border p-5">
		<div class="row justify-content-lg-center">
			<div class="col-auto">
				<table class="table table-responsive mx-auto">
					<tr>
						<td>
							<div class="form-group">
								<label for="nombre" class="form-text">Nombre</label>
								<input type="text" name="nombre" class="form-control text-right">
							</div>
							<div class="form-group">
								<label for="provincia" class="form-text">Provincia</label>
								<input type="text" class="form-control text-right" name="provincia">
							</div>
							<div class="form-group">
								<label for="telefono2" class="form-text">Tel&eacute;fono 2</label>
								<input class="form-control text-right flechas" name="telefono2">
							</div>
							<div class="form-group">
								<label for="l_nacimiento" class="form-text">Lugar Nacimiento</label>
								<input type="text" class="form-control text-right" name="lugar_nacimiento">
							</div>
							<div class="form-group">	
								<label for="c_ingreso" class="form-text">Cuenta Ingreso</label>
								<input type="text" class="form-control text-right" name="cuenta_ingreso">
							</div>
						</td>
						<td>
							<div class="form-group">
								<label for="apellnameos" class="form-text">Apellnameos</label>
								<input type="text" name="apellnameos" class="form-control text-right">
							</div>
							<div class="form-group">
								<label for="pais" class="form-text">Pa&iacute;s</label>
								<input type="text" class="form-control text-right" name="pais">
							</div>
							<div class="form-group">
								<label for="email" class="form-text">Email</label>
								<input type="email" class="form-control text-right" name="email">
							</div>
							<div class="form-group">
								<label for="nss" class="form-text">Nº Seguridad Social</label>
								<input type="number" class="form-control text-right" name="nss">
							</div>
							<div class="form-group">
								<label for="swift" class="form-text">Swift</label>
								<input type="number" class="form-control text-right" name="swift">
							</div>
						</td>
						<td>
							<div class="form-group">
								<label for="foto" class="form-text">Foto</label>
								<input type="file" name="foto" class="form-control" accept="img/*">
							</div>
							<div class="form-group">
								<label for="cod_postal" class="form-text">C&oacute;digo Postal</label>
								<input type="number" class="form-control text-right" name="codigo_postal" maxlength="5" minlength="5">
							</div>
							<div class="form-group">
								<label for="email2" class="form-text">Email 2</label>
								<input type="text" class="form-control text-right" name="email2">
							</div>
							<div class="form-group">
								<label for="observaciones" class="form-text">Observaciones</label>
								<input type="text" class="form-control text-right" name="observaciones">
							</div>
							<div class="form-group">
								<label for="iban" class="form-text">IBAN</label>
								<input type="text" class="form-control text-right" name="iban">
							</div>
						</td>
						<td>
							<div class="form-group">
								<label for="domicilio" class="form-text">Domicilio</label>
								<input type="text" name="domicilio" class="form-control text-right">
							</div>
							<div class="form-group">
								<label for="sexo" class="form-text">Sexo</label>
								<input type="text" class="form-control text-right" name="sexo">
							</div>
							<div class="form-group">
								<label for="edad" class="form-text">Edad</label>
								<input class="form-control text-right flechas" name="edad">
							</div>
							<div class="form-group">
								<label for="f_pago" class="form-text">Forma Pago</label>
								<input type="text" class="form-control text-right" name="forma_pago">
							</div>
							<div class="form-group">
								<label for="impuesto" class="form-text">Impuesto</label>
								<input type="text" class="form-control text-right" name="impuesto">
							</div>
						</td>
						<td>
							<div class="form-group">
								<label for="poblacion" class="form-text">Poblacion</label>
								<input type="text" name="poblacion" class="form-control text-right">
							</div>
							<div class="form-group">
								<label for="telefono" class="form-text">Tel&eacute;fono</label>
								<input type="number" class="form-control text-right" name="telefono">
							</div>
							<div class="form-group">
								<label for="f_nacimiento" class="form-text">Fecha Nacimiento</label>
								<input class="form-control text-right bg-white" name="fecha_nacimiento">
							</div>
							<div class="form-group">
								<label for="e_ingreso" class="form-text">Entnamead Ingreso</label>
								<input type="text" class="form-control text-right" name="entidad_ingreso">
							</div>
							<div class="form-group">
								<label for="irpf" class="form-text">IRPF</label>
								<input type="text" class="form-control text-right" name="irpf">
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<input type="submit" name="Enviar" class="btn btn-danger">
	</form>
</body>
<script>
	$(function () {
		$("#f_nacimiento").datepicker();

	});

</script>

</html>