<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Formulario Inventario</title>

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <h1 class="ml-5 mt-1">Inventario</h1>
    <form class="ml-5 mt-4 border p-5" style="width: 1200px">
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Nombre</label>
              <input type="text" class="form-control" name="nombre" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputDatos">Datos</label><br>
              <textarea name="datos" cols="50" required></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-danger">Guardar</button>
    </form>
</body>

</html>